{
  "presets": [
    "es2015",
    "react",
    "env",
    "stage-1"
  ],
  "plugins": [ 
    ["import", { 
        libraryName: "antd", 
        style: "css" 
    }], 
    ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}